.login {
  &-form-wrapper {
    @include auto-min-height;
    padding: 10px 20px;
    background: $color-primary;

    @include md {
      max-height: calc(100vh - 200px);
    }
  }

  &-field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;

    @include md {
      max-width: 600px;
      margin: 0 auto;
    }

    &-error {
      color: $color-secondary;
      font-size: 14px;

      &-logo {
        color: $color-secondary;
        display: inline-block;
      }
    }

    &-constraint {
      margin: 5px 5px;
      color: $white;
      border-radius: 20px;
      font-size: 12px;

      &-fulfilled {
        color: $color-tertiary;
      }

      &-logo {
        display: inline-block;
        margin-right: 2px;
      }

      &-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &-label {
    width: 100%;
    margin-left: 10px;
    color: $white;
    font-weight: 700;
    text-align: start !important;
  }

  &-input {
    height: 70px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;

    &:focus {
      outline: 3px dotted $color-tertiary;
    }

    &-radio {
      color: $color-tertiary;
    }
  }

  &-button {
    width: 77%;
    height: 70px;
    margin: 25px 0 25px;
    border-radius: 10px;
    background: $color-tertiary;
    color: $color-primary;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
    transition: all 300ms ease;

    @include md {
      max-width: 300px;
    }

    &:hover,
    &:focus {
      outline: none;
      border: 4px solid $color-secondary;
      background: $color-primary;
      color: $color-secondary;
    }
  }
}
