@mixin sm {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin button-shadow {
  transition: 300ms ease-in-out;
  box-shadow: 5px 5px 5px 0px rgba($white, 0.2);
  -webkit-box-shadow: 5px 5px 5px 0px rgba($white, 0.2);
  -moz-box-shadow: 5px 5px 5px 0px rgba($white, 0.2);
}

@mixin button-shadow-hover {
  box-shadow: 5px 5px 5px 0px rgba($white, 0.4);
  -webkit-box-shadow: 5px 5px 5px 0px rgba($white, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba($white, 0.4);
}

@mixin auto-min-height($margin, $padding) {
  min-height: calc(100vh - 150px - $margin - $padding);
  @include md {
    min-height: calc(100vh - 200px - $margin - $padding);
  }
}
